<template>
  <div class="calc">
    <el-form ref="form" :model="form">
      <el-form-item label="Калькулятор">
        <el-input v-model="form.name"></el-input>
      </el-form-item>
      <div class="buttons">

        <div class="main-buttons">
          <el-button plain @click="saveInMemory">Ms</el-button>
          <el-button plain @click="readFromMemory">Mr</el-button>
          <el-button plain @click="summWithMemory">M+</el-button>
          <el-button plain @click="clearMemory">MC</el-button>
          <el-button plain @click="clearLastNumber">C</el-button>
          <el-button plain @click="sqrt">Sqrt</el-button>
          <el-button plain @click="clearNumber">CE</el-button>
          <el-button plain @click="addAction('/')">/</el-button>
          <el-button plain @click="addNumber('7')">7</el-button>
          <el-button plain @click="addNumber('8')">8</el-button>
          <el-button plain @click="addNumber('9')">9</el-button>
          <el-button plain @click="addAction('*')">*</el-button>
          <el-button plain @click="addNumber('4')">4</el-button>
          <el-button plain @click="addNumber('5')">5</el-button>
          <el-button plain @click="addNumber('6')">6</el-button>
          <el-button plain @click="addAction('-')">-</el-button>
          <el-button plain @click="addNumber('1')">1</el-button>
          <el-button plain @click="addNumber('2')">2</el-button>
          <el-button plain @click="addNumber('3')">3</el-button>
          <el-button plain @click="addAction('+')">+</el-button>
          <el-button plain @click="changePolarity">+/-</el-button>
          <el-button plain @click="addNumber('0')">0</el-button>
          <el-button plain @click="addNumber('.')">.</el-button>
          <el-button plain @click="calculation">=</el-button>
        </div>

        <transition name="slide-fade">
          <div class="moreOperations" v-if="openMoreOperations">
            <el-button plain @click="mod">Mod</el-button>
            <el-button plain @click="muduleOfNumber">|x|</el-button>
            <el-button plain @click="sin">Sin</el-button>
            <el-button plain @click="square">X'2</el-button>
            <el-button plain @click="cos">Cos</el-button>
            <el-button plain @click="cube">X'3</el-button>
            <el-button plain @click="tg">Tg</el-button>
            <el-button plain @click="realCube">X'4</el-button>
            <el-button plain @click="ctg">Ctg</el-button>
          </div>
        </transition>

        <a class="openMore" @click="openMoreOperations = !openMoreOperations">
          <i class="el-icon-caret-left" v-if="!openMoreOperations"></i>
          <i class="el-icon-caret-right" v-else></i>
        </a>

      </div>
    </el-form>
  </div>
</template>

<script>


export default {
  data () {
    return {
      form: {
        name: '',
        result: '',
        
      },
      resultOperations: '',
      memory: '',
      openMoreOperations: false
    }
  },
  methods: {
    addNumber (num) {
      if (typeof(this.form.name) === "number"){
        this.form.name = ''
      }
      this.form.name += num
    },
    addAction (operation) {
      this.form.name += operation
    },
    clearLastNumber () {
      this.form.name = this.form.name.slice(0, -1)
    },
    clearNumber () {
      this.form.name = ''
    },
    changePolarity () {
      this.form.name = (eval(this.form.name - this.form.name - this.form.name)).toString()
    },
    sqrt () {
      this.form.name = Math.sqrt(eval(this.form.name))
    },
    calculation() {
      try {
        this.form.name = eval(this.form.name)
        this.resultOperations = this.form.name
      } catch (error) {
        this.$message(`Исправьте ошибку`)
      }
      
    },
    clearData () {
      this.form.name = ''
    },
    saveInMemory () {
      this.memory = this.form.name
    },
    readFromMemory () {
      this.form.name = this.memory
    },
    summWithMemory () {
      this.form.name = eval(this.form.name + this.memory)
    },
    clearMemory () {
      this.memory = ''
    },

    mod () {
      this.addAction('%')
    },
    muduleOfNumber () {
      this.form.name = Math.abs(this.form.name)
    },
    sin () {
      this.form.name = Math.sin(this.form.name)
    },
    square () {
      this.form.name = Math.pow(this.form.name, 2)
    },
    cos () {
      this.form.name = Math.cos(this.form.name)
    },
    cube () {
      this.form.name = Math.pow(this.form.name, 3)
    },
    tg () {
      this.form.name = Math.tan(this.form.name)
    },
    realCube() {
      this.form.name = Math.pow(this.form.name, 4)
    },
    ctg () {
      this.form.name = 1/Math.tan(this.form.name)
    }
  },
}
</script>


<style scoped>
  .calc {
    display: flex;
    justify-content: center;
  }

  .slide-fade-enter-active {
    transition: all .3s ease;
  }
  .slide-fade-leave-active {
    transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  .slide-fade-enter, .slide-fade-leave-to {
    transform: translateX(10px);
    opacity: 0;
  }

  .main-buttons {
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center
  }

  button {
    width: 60px;
    height: 50px;
    padding: 0;
    margin: 0 !important
  }

  .moreOperations{
    width: 125px
  }

  .buttons {
    display: flex;
    flex-direction: row-reverse
  }

  .numberSystem {
    width: 125px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding-left: 5px
  }

  .numberSystem label {
    margin: 4px
  }

  .openMore {
    display: flex;
    align-items: center;
    box-sizing: border-box;
  }

  .openMore:hover{
    box-sizing: border-box;
    box-shadow: 0 0 2px #3a8ee6;
    transition: 0.1s;
    cursor: pointer;
    border-color: #3a8ee6;
    border-radius: 4px;
  }
</style>
